.box2
{
    margin-left: 10px;
}
/* .box{
    border:5px solid black;
} */
/* .adv{
    color: blueviolet;
} */
/* .main{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
} */
.btnbox{
    border-color: black;
    border-radius: 30px;
}