.bgm{
    background-color: #fb4e71;
}
.pic1{
text-align: end;
}
/* img{
    height: 15px;
} */
/* .pic2{
    height: 15vh;
    width: 75vw; */
/* } */
.head{
    color: aliceblue;
}
.box{
    margin-left: 550px;
    margin-top: 50px;
}
