body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

p {
  margin: 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

#contact,
#about,
#experience,
#education {
  margin-bottom: 30px;
}

section h2 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

#contact ul li:before {
  content: "\2022"; /* Add bullet points */
  padding-right: 10px;
}

#experience ul li,
#education ul li {
  margin-bottom: 15px;
}

#experience ul li strong {
  display: block;
}

#experience ul li p {
  margin: 5px 0;
}
