body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(20, 20, 20);
    color: red;
  }
  
  .pay-slip {
    max-width: 400px;
    margin: 0 auto;
    border: 3px solid #981818;
    padding: 20px;
  }
  
  .pay-slip h1 {
    text-align: center;
  }
  
  .input-section {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 5px;
  }
  
  button {
    width: 103%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pay-slip-result {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  